body {
}
.register_page
{
    height:295px;
    border:2px solid #ccc;
    text-align:center;
    background-color:#999;
    color:Navy;
    }
.register_page table 
{
    display:inline-block;
    }








